/* border-radius */

.rounded-s {
  border-radius: 5px;
}

.rounded-m {
  border-radius: 1rem;
}

.rounded-l {
  border-radius: 1.5rem;
}

.rounded-circle {
  border-radius: 50%;
}

/* || margins */
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-xs {
  margin: 0.8rem;
}

.m-sm {
  margin: 1.2rem;
}

.m-md {
  margin: 1.6rem;
}

.m-lg {
  margin: 2.0rem;
}

.m-xl {
  margin: 2.4rem;
}

/* || vertical margin */
.my-xs {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.my-sm {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.my-md {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.my-lg {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.my-xl {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

/* || horizontal margins */
.mx-xs {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mx-sm {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.mx-md {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.mx-lg {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.mx-xl {
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

/* || padding */

.p-xs {
  padding: 0.8rem;
}

.p-sm {
  padding: 1.6rem;
}

.p-md {
  padding: 2.4rem;
}

.p-lg {
  padding: 3.2rem;
}

.p-xl {
  padding: 6.4rem;
}

/* || vertical padding  */
.py-xs {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-sm {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.py-md {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.py-lg {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.py-xl {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

/* || horizontal padding */
.px-xs {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-sm {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.px-md {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.px-lg {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.px-xl {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}
