/* || fs = font-size */
/* shorthand -  font: font-size/line-hieght */

.fs-xl {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.fs-l {
  font-size: 2.0rem;
  line-height: 2.8rem;
}
.fs-m {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.fs-s {
  font-size: 1.4rem;
  line-height: 2.0rem;
}
.fs-xs {
  font-size: 1rem;
  line-height: 1.6rem;
}

/* || fw= font-weight */
.fw-lighter {
  font-weight: 100;
}
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-semibold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}
