/* || flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* || transitions */
.transition {
  transition: .2s ease-in-out;
}

.full-width {
  width: 100%;
}

 /* || position */

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
  bottom: 0;
}

.pos-sticky {
  position: sticky;
}

.pos-fix {
  position: fixed;
}
