/* || flex */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/* || grid */

.grid {
  display: grid;
}

/* || transitions */
.transition {
  transition: .2s ease-in-out;
}

.list-reset {
  list-style: none;
}

.fullwidth {
  width: 100%;
}
