<h4 class="title fs-l">Text Only Card </h4>
<div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width">  
  <section class="card pos-rel">
    <div class=" flex flex-col p-sm fs-l text-only-card">
      <h3 class="card-title">Striped Polo Tshirt</h3>
      <label class="card-author">by Wrogn </label>
    </div>
    <div class="card-desc p-xs">
      White solid T-shirt, has a round neck, long sleeves
    </div>
    <div class="flex flex-row card-feedback p-xs">
      <button class="btn btn-primary rounded-s px-sm py-xs">
        Add To Cart
        <i class="bi bi-cart"></i>
      </button>
      <button class="btn btn-outline-primary rounded-s px-sm py-xs">
        Wishlist Item
        <i class="bi bi-heart"></i>
      </button>
      <button class="btn btn-icon rounded-circle btn-outline-secondary p-xs "><i class="bi bi-share"></i></button>
      <button class="btn btn-icon rounded-circle btn-outline-secondary p-xs "><i class="bi bi-star"></i></button>
    </div>
  </section>
</div>  