
.variant {
  color: var(--text-color400);
  text-decoration: none;
  position: relative;
  border-bottom: 3px solid transparent;
  width: fit-content; 
}

.variant:hover {
  color: var(--text-color900);
  border-bottom-color: var(--primary);
}

.variant:focus {
  border-bottom-color: var(--primary);
}