<section class="desc flex flex-col" id="desc">
  <p class="desc m-md p-s fs-m">
    Grid is a layout utility which helps in position Components in DOM a cakewalk. You can use a 
    <a href="#grid-col-2">Two column grid</a> as well as a 
    <a href="#grid-col-3">Three column Grid</a>.
  </p>
</section>
<section class="prev flex">
  <h4 class="title fs-l gutter-b full-width" id="grid-col-2">Two Column Grid </h4>
  <p class="m-xs fs-m">You can place as many as items and grid will place them in subsequent rows of 2 column each Just add the classes "grid" and "grid-col-2" to the parent and all it's children will be equally divide into cells.</p>
  <div class=" preview-container rounded-s p-md flex flex-center flex-col full-width">  
    <div class="grid grid-col-2 full-width">
      <div class="box flex flex-center fs-xl">1</div>
      <div class="box flex flex-center fs-xl">2</div>
      <div class="box flex flex-center fs-xl">3</div>
      <div class="box flex flex-center fs-xl">4</div>
    </div>
  </div>  
</section>
<section class="code flex" id="code">
  <h4 class="title fs-m">Code</h4>
    <iframe
      class="code-snippet flex"
      src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex%2520flex-center%2520full-width%2520rating-star%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-half%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
      sandbox="allow-scripts allow-same-origin">
    </iframe>
</section>
<section class="prev flex">
  <h4 class="title fs-l gutter-b full-width" id="grid-col-3">Three Column grids</h4>
  <p class="m-xs fs-m">It places 3 cells in each row. You can use it by adding "grid" and "grid-col-3" in your parent class.</p>
  <div class="preview-container rounded-s p-md flex flex-center full-width">  
    <div class="grid grid-col-3 full-width">
      <div class="box flex flex-center fs-xl">1</div>
      <div class="box flex flex-center fs-xl">2</div>
      <div class="box flex flex-center fs-xl">3</div>
      <div class="box flex flex-center fs-xl">4</div>
      <div class="box flex flex-center fs-xl">5</div>
      <div class="box flex flex-center fs-xl">6</div>
      <div class="box flex flex-center fs-xl">7</div>
      <div class="box flex flex-center fs-xl">8</div>
    </div>
  </div>  
</section>
<section class="code flex" id="code">
  <h4 class="title fs-m">Code</h4>
    <iframe
      class="code-snippet flex"
      src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522grid%2520grid-col-3%2520full-width%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E1%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E2%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E3%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E4%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E5%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E6%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E7%253C%252Fdiv%253E%250A%2520%2520%253Cdiv%2520class%253D%2522box%2522%253E8%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
      sandbox="allow-scripts allow-same-origin">
    </iframe>
</section>

<footer class="footer flex" id="footer">
  <div class="prev-component flex m-md" onclick="loadModal()">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xY meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
    <span>Modal</span>
  </div>
  <div class="next-component flex m-md" onclick="loadToast()">
    <span>Toast</span>
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></g></svg>
  </div> 
</footer>
