<h4 class="title fs-l">Preview: Alert Bar with Close Button</h4>
<div class="preview-container alert-box rounded-s p-md flex">
  <div class="alert alert-primary rounded-s my-xs px-sm py-xs full-width fs-m">
      A primary Alert Example !!
      <button class="btn-close fs-m" onclick="closeAlert(this)">
        <i class="bi bi-x-lg" ></i>
      </button>
  </div>
  <div class="alert alert-danger rounded-s my-xs px-sm py-xs full-width fs-m">
    A Danger Alert Example !!
    <button class="btn-close fs-m" onclick="closeAlert(this)">
      <i class="bi bi-x-lg" ></i>
    </button>
  </div>
  <div class="alert alert-secondary rounded-s my-xs px-sm py-xs full-width fs-m">
    A Secondary Alert Example !!
    <button class="btn-close fs-m" onclick="closeAlert(this)">
      <i class="bi bi-x-lg" ></i>
    </button>
  </div>
  <div class="alert alert-success rounded-s my-xs px-sm py-xs full-width fs-m">
    A success Alert Example !!
    <button class="btn-close fs-m" onclick="closeAlert(this)">
      <i class="bi bi-x-lg" ></i>
    </button>
  </div>
  <div class="alert alert-warning rounded-s my-xs px-sm py-xs full-width fs-m">
    A warning Alert Example !!
    <button class="btn-close fs-m" onclick="closeAlert(this)">
      <i class="bi bi-x-lg" ></i>
    </button>
  </div>
</div>
