    <section class="desc flex flex-col">
      <p class="desc m-md p-sm fs-m">
        Inputs are necessary for user interaction with the website. Inputs are used to take information from the user, and then save the data to the server, accordingly.
      </p>      
    </section>
    <!-- default -->
    <section class="prev flex">
      <h4 class="title fs-l" id="input-std">Preview: Standard Input</h4>
      <div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width">
        <div >
          <label class="fs-s">
            What next?  
          </label>
          <input type="text" placeholder="Tell something about yourself?" name="" class="input full-width px-sm py-xs my-xs rounded-s"/>
        </div>
      </div>  
    </section>
    <section class="code flex">
      <h4 class="title fs-l">Code</h4>
      <iframe
        class="code-snippet flex"
        src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%2520%2520%253Cdiv%2520class%253D%2522%2522%253E%250A%2520%2520%2520%2520%253Clabel%2520class%253D%2522fs-s%2522%253E%250A%2520%2520%2520%2520%2520%2520What%2520next%253F%2520%2520%250A%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520type%253D%2522text%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520class%253D%2522input%2520full-width%2520px-sm%2520py-xs%2520my-xs%2520rounded-s%2522%250A%2520%2520%2520%2520%2520%252F%253E%250A%2520%2520%253C%252Fdiv%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </section>
    <!-- textbox -->
    <section class="prev flex">
      <h4 class="title fs-l" id="input-textbox">Preview: TextBox Input</h4>
      <div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width">
        <div >
          <label class="fs-s">
            Describe something about yourself.
          </label>
          <textarea type="text" class="input txtbox full-width px-sm py-xs my-xs rounded-s">
          </textarea>
        </div>
      </div>  
    </section>
    <section class="code flex">
      <h4 class="title fs-l">Code</h4>
      <iframe
        class="code-snippet flex"
        src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Ctextarea%2520type%253D%2522text%2522%2520class%253D%2522input%2520txtbox%2520full-width%2520px-sm%2520py-xs%2520rounded-s%2522%253E%250A%2520%2520%253C%252Ftextarea%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>      
    </section>
    <!-- validation -->
    <section class="prev flex">
      <h4 class="title fs-l" id="input-validation">Preview: Input with Validation Error</h4>
      <div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width">
        <div class="input-form input-validator">
          <label class="input-label fs-s">
            Enter Email.
          </label>
          <input 
          type="text"
          placeholder="Enter a valid Mail" 
          id="input1"
          name="" 
          class="input input-validator-text full-width px-sm py-xs my-xs rounded-s"
        />
        </div>
      </div>  
    </section>
    <section class="code flex">
      <h4 class="title fs-l">Code</h4>
      <iframe
        class="code-snippet flex"
        src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522input-form%2520input-validator%2522%253E%250A%2520%2520%2520%2520%253Clabel%2520class%253D%2522input-label%2520fs-s%2522%253E%250A%2520%2520%2520%2520%2520%2520What%2520next%253F%2520%2520%250A%2520%2520%2520%2520%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520%250A%2520%2520%2520%2520type%253D%2522text%2522%2520%250A%2520%2520%2520%2520placeholder%253D%2522Enter%2520a%2520valid%2520Text%2522%2520%250A%2520%2520%2520%2520id%253D%2522input1%2522%250A%2520%2520%2520%2520name%253D%2522%2522%2520%250A%2520%2520%2520%2520class%253D%2522input%2520input-validator-text%2520full-width%2520px-sm%2520py-xs%2520my-xs%2520rounded-s%2522%250A%2520%2520%252F%253E"
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </section>
    <footer class="footer flex">
      <div class="prev-component flex m-md" onclick="loadImage()">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
        <span>Image</span>
      </div> 
      <div class="next-component flex m-md" onclick="loadForms()">
        <span>Forms</span>
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></g></svg>
      </div>      
    </footer>