<h4 class="fs-l fw-light gutter-b" >Variants</h4>
<ul class="p-md fs-s list-reset flex flex-col list">
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-primary">Primary Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-outline-primary" >Outlined Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-sized" >Different Sized Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-round" >Rounded Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-link" >Link Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-icon" >Icon Buttons</a>
    <a class="variant my-xs transition pl-xs fw-light" href="#btn-float" >Floating Action Buttons</a>
</ul>
