<h4 class="fs-l fw-light heading" >Variants</h4>
<ul class="p-mid fs-s list-reset flex flex-col list">
    <div class="variant my-smaller transition pl-smaller fw-light" onclick="loadButton(this)" >
      Primary Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadOutlineButton(this)" >
      Outlined Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadSizedButton(this)" >
      Different Sized Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadRoundedButton(this)" >
      Rounded Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadlinkButton(this)" >
      Link Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadiconbutton(this)" >
      Icon Buttons
    </div>
    <div class="variant my-smaller transition pl-smaller fw-light" id="nav-text-avatar" onclick="loadFloatingButton(this)" >
      Floating Action Buttons
    </div>
</ul>
