<h4 class="title fs-l">Preview: Status Badge</h4>
<div class="preview-container rounded-s p-mid flex">
  <div class="badge-wrapper">
    <div class="avatar avatar-lg m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
      <span class="badge-status rounded-circle online"></span>
    </div>
  </div>
  <div class="badge-wrapper">
    <div class="avatar avatar-lg m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
      <span class="badge-status rounded-circle offline"></span>
    </div>
  </div>
  <div class="badge-wrapper">
    <div class="avatar avatar-lg m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
      <span class="badge-status rounded-circle idle"></span>
    </div>
  </div>
  <div class="badge-wrapper">
    <div class="avatar avatar-lg m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
      <span class="badge-status rounded-circle invisible"></span>
    </div>
  </div>
</div>
