<h4 class="title fs-l">Preview: Profile Avatar</h4>
<div class="preview-container rounded-s p-mid flex">
  <div class="avatar avatar-lg m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
  </div>
  <div class="avatar avatar-md m-smaller">
      <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
  </div>
  <div class="avatar avatar-sm m-smaller">
    <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
  </div>
  <div class="avatar avatar-xs m-smaller">
    <img loading="lazy" class="avatar-img rounded-circle" src="../../assets/avatar.jpg" alt="avatar">
  </div>
</div>
