<h4 class="title fs-l">Preview: Primary Button</h4>
<div class="btn-wrapper preview-container rounded-s p-mid flex flex-center fullwidth fs-xl">
  <button class="btn btn-primary px-small py-smaller ">PRIMARY</button>
  <button class="btn btn-secondary px-small py-smaller ">SECONDARY</button>
  <button class="btn btn-error px-small py-smaller ">ERROR</button>
  <button class="btn btn-success px-small py-smaller ">SUCCESS</button>
  <button class="btn btn-warning px-small py-smaller ">WARNING</button>
</div>  