<h4 class="title fs-l">Preview: Link Button</h4>
<div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width fs-xl">
  <button class="btn btn-primary px-sm py-xs">
    <a href="#">PRIMARY</a>  
  </button>
  <button class="btn btn-secondary px-sm py-xs">
    <a href="#">SECONDARY</a>  
  </button>
  <button class="btn btn-error px-sm py-xs">
    <a href="#">ERROR</a>  
  </button>
  <button class="btn btn-success px-sm py-xs">
    <a href="#">SUCCESS</a>  
  </button>
  <button class="btn btn-warning px-sm py-xs">
    <a href="#">WARNING</a>  
  </button>
</div>  