<h4 class="title fs-l">Preview: Link Button</h4>
<div class="btn-wrapper preview-container rounded-s p-mid flex flex-center fullwidth fs-xl">
  <button class="btn btn-primary px-small py-smaller">
    <a href="#">PRIMARY</a>  
  </button>
  <button class="btn btn-secondary px-small py-smaller">
    <a href="#">SECONDARY</a>  
  </button>
  <button class="btn btn-error px-small py-smaller">
    <a href="#">ERROR</a>  
  </button>
  <button class="btn btn-success px-small py-smaller">
    <a href="#">SUCCESS</a>  
  </button>
  <button class="btn btn-warning px-small py-smaller">
    <a href="#">WARNING</a>  
  </button>
</div>  