body {
  grid-template-rows: 5rem auto;
  grid-template-columns: 25rem auto 40rem;
  grid-template-areas: 
  "aside header header header header header header"
  "aside main main main main main nav";
}

header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}

.code {
  margin-bottom: 2rem;
}

.fullheight {
  height: 100vh;
}
