.fullheight {
  height: 100vh;
}

body {
  grid-template-rows: 50px auto;
  grid-template-areas: 
  "aside header header header header header"
  "aside main main main main nav";
}

header {
  grid-area: header;
}
aside {
  grid-area: aside;
  background-color: gold;
}
main {
  grid-area: main;
  background-color: brown;
}
nav {
  grid-area: nav;
}
