main.grid {
  font-size: 1.5rem;
}

.prev,.code {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer {
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid var(--text-color100);
}