.sidebar  {
  grid-auto-flow: row;
  /* grid-template-rows: 200px auto; */ 
  grid-auto-rows:max-content;
  transition: .25s ease-in;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}


.sidebar-subtitle {
  margin-bottom: 0.8rem;
}

.gutter-b {
  color: var(--primary900);
  border-bottom: 1px solid var(--text-color100);
}

.txt-center {
  text-align: center;
}

