@import './avatar/avatar.css';
@import './alert/alert.css';
@import './badge/badge.css';
@import './button/button.css';
@import './card/card.css';
@import './image/image.css';
@import './input/input.css';
@import './list/list.css';
@import './navigation/navigation.css';
@import './textUtility/textUtility.css';
@import './modal/modal.css';

.preview-container, .code-snippet {
  align-items: flex-end;
  width: 100%;
  border: 2px solid var(--text-color100);
  flex-wrap: wrap;
}

.code-snippet {
  min-height: 20rem;
}
