@import './avatar/avatar.css';
@import './alert/alert.css';
@import './badge/badge.css';
@import './button/button.css';
@import './card/card.css';

.preview-container, .code-snippet {
  align-items: flex-end;
  width: 100%;
  border: 2px solid var(--text-color100);
}

.code-snippet {
  min-height: 20rem;
}
