<h4 class="title fs-l">Horizontal Card</h4>
<div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width">  
  <section class="card ">
    <div class="flex flex-row pos-rel text-over-media">
      <img class="card-img" src="https://placeimg.com/100/100" alt="card image">
      <div class="card-content card-horizontal flex flex-col p-md fs-m">
        <h3 class="card-title fw-semibold">Striped Polo Tshirt</h3>
        <label class="card-author">by Wrogn </label>
        <button class="btn btn-icon rounded-circle btn-outline-secondary p-xs "><i class="bi bi-star"></i></button>
        
        <div class="flex flex-row card-feedback">
          <button class="btn btn-primary card-primary-btn rounded-s px-sm py-xs">
            Add To Cart
            <i class="bi bi-cart"></i>
          </button>
          <button class="btn btn-outline-primary rounded-s px-sm py-xs">
            Wishlist Item
            <i class="bi bi-heart"></i>
          </button>
        </div>
      </div>
      
    </div>
  </section>
</div>  