<h4 class="title fs-l">Preview: Floating Action Button</h4>
<div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width fs-xl">
  <button class="btn btn-float flex flex-center rounded-circle btn-primary px-sm py-xs fs-m">+
  </button>
  <button class="btn btn-float flex flex-center rounded-circle btn-secondary px-sm py-xs fs-m">#</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-error px-sm py-xs fs-m">-</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-success px-sm py-xs fs-m">$</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-warning px-sm py-xs fs-m">@</button>
</div>  