<h4 class="title fs-l">Preview: Floating Action Button</h4>
<div class="btn-wrapper preview-container rounded-s p-mid flex flex-center fullwidth fs-xl">
  <button class="btn btn-float flex flex-center rounded-circle btn-primary px-small py-smaller fs-m">+
  </button>
  <button class="btn btn-float flex flex-center rounded-circle btn-secondary px-small py-smaller fs-m">#</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-error px-small py-smaller fs-m">-</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-success px-small py-smaller fs-m">$</button>
  <button class="btn btn-float flex flex-center rounded-circle btn-warning px-small py-smaller fs-m">@</button>
</div>  