<section class="desc flex flex-col" id="desc">
  <p class="desc m-md p-s fs-m">
    Rating are used to show the popularity of a product by displaying stars or numbers. We have 
    <a href="#rating-star">Star Component</a> as well as 
    <a href="#rating-nums">Numbered Rating Component</a>.
  </p>
</section>
<section class="prev flex">
  <h4 class="title fs-l gutter-b full-width" id="rating-star">Star Ratings </h4>
  <div class=" preview-container rounded-s p-md flex flex-center flex-col full-width">  
    <div class="flex flex-center full-width rating-star">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i>
      <i class="bi bi-star"></i>
    </div>
  </div>  
</section>
<section class="code flex" id="code">
  <h4 class="title fs-m">Code</h4>
    <iframe
      class="code-snippet flex"
      src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522flex%2520flex-center%2520full-width%2520rating-star%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-fill%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-half%2522%253E%253C%252Fi%253E%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
      sandbox="allow-scripts allow-same-origin">
    </iframe>
</section>
<section class="prev flex">
  <h4 class="title fs-l gutter-b full-width" id="rating-nums">Numbered Ratings</h4>
  <div class="preview-container rounded-s p-md flex flex-center full-width">  
    <button class="btn btn-success p-xs rounded-s" >
      4.5
      <i class="bi bi-star-half"></i>
    </button>
  </div>  
</section>
<section class="code flex" id="code">
  <h4 class="title fs-m">Code</h4>
    <iframe
      class="code-snippet flex"
      src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-success%2520p-xs%2520rounded-s%2522%2520%253E%250A%2520%25204.5%250A%2520%2520%253Ci%2520class%253D%2522bi%2520bi-star-half%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
      sandbox="allow-scripts allow-same-origin">
    </iframe>
</section>

<footer class="footer flex" id="footer">
  <div class="prev-component flex m-md" onclick="loadPage(null,'navigation')">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xY meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
    <span>Navigation</span>
  </div>
  <div class="next-component flex m-md" onclick="loadPage(null,'slider')">
    <span>Slider</span>
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g transform="translate(24 0) scale(-1 1)"><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></g></svg>
  </div> 
</footer>
