.modal {
  width: 50rem;
  height: 20rem;
  background: var(--primary100);
  position: absolute;
  justify-content: space-between;
}

div.modal-container {
  display: none;
  inset: 0;
  z-index: 1;
  backdrop-filter: brightness(0.5);
}

.modal-exit {
  text-align: right;
}

.btn-group {
  justify-content: right;
  gap: 1rem;
}
