
.modal {
  width: 50rem;
  height: 20rem;
  background: var(--primary100);
  position: absolute;
  z-index: 1;
  justify-content: space-between;
  
}

div.modal {
  display: none;
}

.modal-exit {
  text-align: right;
}

.btn-group {
  justify-content: right;
  gap: 1rem;
}