<h4 class="title fs-l">Preview: Icon Button</h4>
<div class="btn-wrapper preview-container rounded-s p-md flex flex-center full-width fs-xl">
  <button class="btn btn-primary px-sm py-xs ">
    See More
    <i class="bi bi-arrow-right"></i>
  </button>
  <button class="btn btn-secondary px-sm py-xs">
    Add To Wishlist
    <i class="bi bi-heart"></i>
  </button>
  <button class="btn btn-error px-sm py-xs">
    <i class="bi bi-power"></i>
    POWER OFF
  </button>
  <button class="btn btn-success px-sm py-xs">
    Add To Cart
    <i class="bi bi-cart"></i>
  </button>
  <button class="btn btn-warning px-sm py-xs">
    Confirm Leave
    <i class="bi bi-x-circle"></i>
  </button>
</div>  