<h4 class="title fs-l">Preview: Icon Button</h4>
<div class="btn-wrapper preview-container rounded-s p-mid flex flex-center fullwidth fs-xl">
  <button class="btn btn-primary px-small py-smaller ">
    See More
    <i class="bi bi-arrow-right"></i>
  </button>
  <button class="btn btn-secondary px-small py-smaller">
    Add To Wishlist
    <i class="bi bi-heart"></i>
  </button>
  <button class="btn btn-error px-small py-smaller">
    <i class="bi bi-power"></i>
    POWER OFF
  </button>
  <button class="btn btn-success px-small py-smaller">
    Add To Cart
    <i class="bi bi-cart"></i>
  </button>
  <button class="btn btn-warning px-small py-smaller">
    Confirm Leave
    <i class="bi bi-x-circle"></i>
  </button>
</div>  