    <section class="desc flex flex-col" id="desc">
      <p class="desc m-md p-s fs-m">
        Text utilities are used when you are going to display some text on your webpage and needs somestyling to it. So we have Text different Text Utilities ranging from 
        <a href="#heading-utility">Headings</a>,
        <a href="#font-size-utility">Usual Text</a>,
        <a href="#gray-text-utility"> Gray Text</a>,
        <a href="#center-text-utility"> Center Text</a>.
      </p>
    </section>
    <section class="prev flex">
      <h4 class="title fs-l gutter-b full-width" id="heading-utility">Headings </h4>
      <p class="m-xs fs-m">All Headings H1 to H6 are availaible if you want your paragraph to look like heading.</p>
      <div class="baseline preview-container rounded-s p-md flex flex-center flex-col full-width">  
        <p class="h1 m-sm">H1 Heading</p>
        <p class="h2 m-sm">H2 Heading</p>
        <p class="h3 m-sm">H3 Heading</p>
        <p class="h4 m-sm">H4 Heading</p>
        <p class="h5 m-sm">H5 Heading</p>
        <p class="h6 m-sm">H6 Heading</p>
      </div>  
    </section>
    <section class="code flex" id="code">
      <h4 class="title fs-m">Code</h4>
        <iframe
          class="code-snippet flex"
          src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522h1%2522%253EH1%2520Heading%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h2%2522%253EH2%2520Heading%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h3%2522%253EH3%2520Heading%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h4%2522%253EH4%2520Heading%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h5%2522%253EH5%2520Heading%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h6%2522%253EH6%2520Heading%253C%252Fp%253E"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
    </section>

    <section class="prev flex">
      <h4 class="title fs-l gutter-b full-width" id="font-size-utility">Usual Text Sizing </h4>
      <p class="m-xs fs-m">A Utility class to just alter the font-size of your texts. nothing Fancy!.</p>
      <div class="baseline preview-container rounded-s p-md flex flex-center flex-col full-width">  
        <p class="fs-xl m-sm">Extra Large</p>
        <p class="fs-l m-sm">Large</p>
        <p class="fs-m m-sm">Medium</p>
        <p class="fs-s m-sm">Small</p>
        <p class="fs-xs m-sm">Extra Small</p>
      </div>  
    </section>
    <section class="code flex" id="code">
      <h4 class="title fs-m">Code</h4>
        <iframe
          class="code-snippet flex"
          src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522fs-xl%2520m-sm%2522%253EExtra%2520Large%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-l%2520m-sm%2522%253ELarge%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-m%2520m-sm%2522%253EMedium%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-s%2520m-sm%2522%253ESmall%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fs-xs%2520m-sm%2522%253EExtra%2520Small%253C%252Fp%253E"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
    </section>


    <section class="prev flex">
      <h4 class="title fs-l gutter-b full-width" id="gray-text-utility">Gray Texts</h4>
      <p class="m-xs fs-m">A Utility class to just alter the font-weights of your texts. and make the text looks lighter or darker as per choice.</p>
      <div class="baseline preview-container rounded-s p-md flex flex-center flex-col full-width">  
        <p class="fw-black m-sm">Fully Black</p>
        <p class="fw-bold m-sm">Bold</p>
        <p class="fw-semibold m-sm">Semi-Bold</p>
        <p class="fw-regular m-sm">Regular</p>
        <p class="fw-light m-sm">Light</p>
        <p class="fw-lighter m-sm">Lighter</p>
      </div>  
    </section>
    <section class="code flex" id="code">
      <h4 class="title fs-m">Code</h4>
        <iframe
          class="code-snippet flex"
          src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522fw-black%2522%253EFully%2520Black%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-bold%2522%253EBold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-semibold%2522%253ESemi-Bold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-regular%2522%253ERegular%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-light%2522%253ELight%253C%252Fp%253E%250A%253Cp%2520class%253D%2522fw-lighter%2522%253ELighter%253C%252Fp%253E"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
    </section>

    
    <section class="prev flex">
      <h4 class="title fs-l gutter-b full-width" id="center-text-utility">Center Texts</h4>
      <p class="m-xs fs-m">A Utility class to just alter the font-weights of your texts. and make the text looks lighter or darker as per choice. If it isn't working also give full-width class to make width to 100%</p>
      <div class="baseline preview-container rounded-s p-md flex flex-center flex-col full-width">  
        <p class="text-left full-width m-sm">Align to Left</p>
        <p class="text-center full-width m-sm">Align to Center</p>
        <p class="text-right full-width m-sm">Align to right</p>
      </div>  
    </section>
    <section class="code flex" id="code">
      <h4 class="title fs-m">Code</h4>
        <iframe
          class="code-snippet flex"
          src="https://carbon.now.sh/embed?bg=rgba%2863%2C117%2C161%2C1%29&t=one-light&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=100px&dsblur=100px&wc=true&wa=true&pv=0px&ph=0px&ln=true&fl=1&fm=Ubuntu+Mono&fs=14px&lh=117%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-left%2522%253EAlign%2520to%2520Left%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-center%2522%253EAlign%2520to%2520Center%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-right%2522%253EAlign%2520to%2520Right%253C%252Fp%253E"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
    </section>

    <footer class="footer flex" id="footer">
      <div class="prev-component flex m-md" onclick="loadPage(null,'grid')">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xY meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><g fill="none"><path d="M11 5l-7 7l7 7" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 12h16" stroke="#1e3a8a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
        <span>Grids</span>
      </div>
      <div class="hidden"></div> 
    </footer>
