<h4 class="fs-l fw-light gutter-b" >Variants</h4>
<ul class="p-md fs-s list-reset flex flex-col list">
    <a href="#heading-utility" class="variant my-xs transition pl-xs fw-light" >
      Headings
    </a>
    <a href="#font-size-utility" class="variant my-xs transition pl-xs fw-light" id="nav-text-avatar" >
      Usual Text Sizing
    </a>
    <a href="#gray-text-utility" class="variant my-xs transition pl-xs fw-light" id="nav-text-avatar" >
      Gray Texts
    </a>
    <a href="#center-text-utility" class="variant my-xs transition pl-xs fw-light" id="nav-text-avatar" >
      Center Texts
    </a>
</ul>
