    <div class="brand">
      <img src="https://picsum.photos/300/150" alt="Elevate UI Logo" class="brand-logo">
      <h3 class="fs-l p-smaller brand-name heading">Elevate UI</h3>
    </div>    
    <ul class="m-mid fs-m list-reset flex flex-col" >
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Get Started</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Installation</li>
      <h4 class="my-mid fs-l fw-reerlar sidebar-subtitle heading">Components</h4>

      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Avatar</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Alert</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Badge</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Card</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Image</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Input</li>
      <li class="mx-mid variant my-smaller transition component-name pl-smaller fw-light" >Toast</li>
    </ul>